<div class="container-sidebar-products">
  <button (click)="handleShowFilter()" class="sidebar-products-btn">Filtros v</button>
  <h3 class="sidebar-products-title">Filtros</h3>
  <div class="filter-products-container"
    [ngClass]="{
      'showFilter': showFilter
    }"
  >
    <div class="filter-type-product">
      <h4 class="filter-title">Tipo de producto</h4>
      <div class="filter-input-group">
        <input type="checkbox" [(ngModel)]="categories.todo" name="todo" (click)="changeMarketTodos()">
        <label for="">Todos</label>
      </div>
      <div class="filter-input-group">
        <input type="checkbox" [(ngModel)]="categories.comedor" name="comedor" (click)="changMarket()">
        <label for="">Comedor</label>
      </div>
      <div class="filter-input-group">
        <input type="checkbox" [(ngModel)]="categories.silla" name="silla" (click)="changMarket()">
        <label for="">Sillas</label>
      </div>
      <div class="filter-input-group">
        <input type="checkbox" [(ngModel)]="categories.sofa" name="sofa" (click)="changMarket()">
        <label for="">Sofas</label>
      </div>
    </div>
    <div class="filter-price-product">
      <h4 class="filter-title">Precios</h4>
      <div class="filter-input-group">
        <input type="radio" name="p" value="30" [(ngModel)]="selectedPriceValue" defaultChecked>
        <label for="">$30 - $++</label>
      </div>
      <div class="filter-input-group">
        <input type="radio" name="p" value="30 100" [(ngModel)]="selectedPriceValue">
        <label for="">$30 - $100</label>
      </div>
      <div class="filter-input-group">
        <input type="radio" name="p" value="100 250" [(ngModel)]="selectedPriceValue">
        <label for="">$100 - $250</label>
      </div>
      <div class="filter-input-group">
        <input type="radio" name="p" value="250" [(ngModel)]="selectedPriceValue">
        <label for="">$250 - $++</label>
      </div>
    </div>
    <button class="filter-btn" (click)="filterProductsInList()">Buscar</button>
  </div>
</div>
