<div class="container__contact-form">
  <form class="contact-form">
    <h2 class="contact-form__title">Envianos un mensaje</h2>
    <input [(ngModel)]="infoForm.name" name="name" class="contact-form-input" type="text" placeholder="Nombre">
    <input [(ngModel)]="infoForm.lastname" name="lastname" class="contact-form-input" type="text" placeholder="Apellido">
    <input [(ngModel)]="infoForm.email" name="email" class="contact-form-input" type="text" placeholder="Correo">
    <textarea [(ngModel)]="infoForm.message" name="message" class="contact-form-textarea" placeholder="Mensaje"></textarea>
    <button (click)="sendEmail()" class="contact-form-btn" type="submit">Enviar</button>
  </form>
  <div class="container-image-contact">
    <!-- en el CSS coloque una img de fondo -->
  </div>
</div>
