<div class="container__contact-form">
  <form class="contact-form">
    <h2 class="contact-form__title">Envianos un mensaje</h2>
    <input class="contact-form-input" type="text" placeholder="Nombre">
    <input class="contact-form-input" type="text" placeholder="Apellido">
    <input class="contact-form-input" type="text" placeholder="Correo">
    <textarea class="contact-form-textarea" placeholder="Mensaje"></textarea>
    <button class="contact-form-btn" type="submit">Enviar</button>
  </form>
  <div class="container-image-contact">
    <!-- en el CSS coloque una img de fondo -->
  </div>
</div>
