<div class="container-email-signup">
  <h3 class="email-signup-title">Únete al club y obten los beneficios</h3>
  <p class="email-signup-description">Suscríbase a nuestro boletín y reciba ofertas exclusivas sobre nuevas gamas, rebajas, tiendas emergentes y más.</p>
  <ul class="email-signup-ul">
    <li class="email-signup-li"><img class="card-icon" [src]="iconCheckWin" alt="Icono check" width="20">Ofertas exclusivas</li>
    <li class="email-signup-li"><img class="card-icon" [src]="iconCheckWin" alt="Icono check" width="20">Eventos gratuitos</li>
    <li class="email-signup-li"><img class="card-icon" [src]="iconCheckWin" alt="Icono check" width="20">Gran descuento</li>
  </ul>
  <div class="container-email-input-group">
    <input class="input-group_box" type="email" placeholder="tu@email.com">
    <input class="input-group_btn" type="submit" value="Suscribirse">
  </div>
</div>
