<div class="container-similar-product">
  <h3 class="similar-product_title">También podría gustarte</h3>
  <swiper-container class="similar-product_container-carrusel"  [slidesPerView]="slidesPerView" speed="500" loop="true">
    <swiper-slide
    class="carrusel-item"
      *ngFor="let side of similarProducts"
    >
      <product-card
        [name]="side.name"
        [price]="side.price"
        [url]="side.url"
        [id]="side.id"
        (click)="onProductCardClick()"
      ></product-card>
    </swiper-slide>
  </swiper-container>

</div>
