<div class="container-one-product">
  <div class="one-product_img">
    <img [src]="saveProduct!.url" [alt]="saveProduct!.name">
  </div>
  <div class="one-product_info">
    <h2 class="one-product_info-title">{{saveProduct!.name}}</h2>
    <span class="one-product_info-price">${{saveProduct!.price}}</span>
    <h3 class="one-product_info-title-description">Descripción</h3>
    <p class="one-product_info-description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, at. Impedit recusandae ipsam commodi officia iure incidunt? Voluptatum dolor sequi, doloribus distinctio totam repellat accusamus consequatur rem dicta atque qui!
    </p>
    <ul class="one-product_info-ul">
      <li class="one-product_info-list-li">Lorem ipsum dolor sit amet.</li>
      <li class="one-product_info-list-li">Lorem ipsum dolor sit amet.</li>
      <li class="one-product_info-list-li">Lorem ipsum dolor sit amet.</li>
    </ul>
    <div class="one-product_info_controls">
      <div class="one-product_info_controls_counter">
        <button (click)="increaseBy(+1)">+</button>
        <span>{{counter}}</span>
        <button (click)="increaseBy(-1)">-</button>
      </div>
      <button class="one-product_info_controls_btn">Agregar</button>
    </div>
  </div>
</div>
