<div class="container-description">
  <h2 class="container-description_title">¿Qué hace que nuestra marca sea diferente?</h2>
  <div class="container-description_cards">
    <div class="container-description_card">
      <img class="card-icon" [src]="iconoTruck" alt="Icono entrega" width="40">
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
    <div class="container-description_card">
      <img class="card-icon" [src]="iconoCheck" alt="Icono entrega" width="30">
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
    <div class="container-description_card">
      <img class="card-icon" [src]="iconoCard" alt="Icono entrega" width="30">
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
    <div class="container-description_card">
      <img class="card-icon" [src]="iconoPlant" alt="Icono entrega" width="30">
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
  </div>
</div>
