<nav class="navbar-container"
  [ngClass]="{
    'setPositionInProducts': setPosition
  }"
>
  <div class="navbar-control">
    <h2 routerLink="" class="navbar-control-title" (click)="handleShowNavBarClose()">Demo Tienda</h2>
    <div class="navbar-control-icons">
      <button class="navbar-control-icons_car" routerLink="shopping/car"><img [src]="iconCar" alt="Icono carrito" width="30"></button>
      <button class="navbar-control-icons_user"><img [src]="iconUser" alt="Icono usuario" width="30"></button>
      <button class="navbar-control-icons_menu" (click)="handleShowNavBar()"><img [src]="iconMenu" alt="Icono carrito" width="40"></button>
    </div>
  </div>
  <div
  class="navbar-menu"
  [ngClass]="{
    'show__navbar-menu': showNavBar
  }">
    <ul class="navbar-menu-ul">
      <li class="navbar-menu-li"
        routerLink="about"
        routerLinkActive="active"
        (click)="handleShowNavBar()"
      >Sobre nosotros</li>
      <li
        class="navbar-menu-li"
        routerLink="contact"
        routerLinkActive="active"
        (click)="handleShowNavBar()"
      >Contacto</li>
      <li
      class="navbar-menu-li"
      routerLink="products"
      routerLinkActive="active"
      (click)="handleShowNavBar()"
      >Productos</li>

    </ul>
  </div>
</nav>
