<nav class="navbar-container"
  [ngClass]="{
    'setPositionInProducts': setPosition
  }"
>
  <div class="navbar-control">
    <h2 routerLink="" class="navbar-control-title">Demo Tienda</h2>
    <div class="navbar-control-icons">
      <button class="navbar-control-icons_car">🛒</button>
      <button class="navbar-control-icons_user">User</button>
      <button class="navbar-control-icons_menu" (click)="handleShowNavBar()">😊</button>
    </div>
  </div>
  <div
  class="navbar-menu"
  [ngClass]="{
    'show__navbar-menu': showNavBar
  }">
    <ul class="navbar-menu-ul">
      <li class="navbar-menu-li">Carrito</li>
      <li class="navbar-menu-li"
        routerLink="about"
        routerLinkActive="active"
      >Sobre nosotros</li>
      <li class="navbar-menu-li">Contacto</li>
      <li
      class="navbar-menu-li"
      routerLink="products"
      routerLinkActive="active"
      >Productos</li>

    </ul>
  </div>
</nav>
