<nav class="navbar-container"
  [ngClass]="{
    'setPositionInProducts': setPosition
  }"
>
  <div class="navbar-control">
    <input
      class="navbar-control-search"
      type="text"
      placeholder="buscar..."
      [ngClass]="{
        'show_navbar-control-search': showSearchBar
      }"
    >
    <h2 routerLink="" class="navbar-control-title">Demo Tienda</h2>
    <div class="navbar-control-icons">
      <button class="navbar-control-icons_car">🛒</button>
      <button class="navbar-control-icons_user">User</button>
      <button class="navbar-control-icons_search" (click)="handleShowSearchBar()">🔍</button>
      <button class="navbar-control-icons_menu" (click)="handleShowNavBar()">😊</button>
    </div>
  </div>
  <div
  class="navbar-menu"
  [ngClass]="{
    'show__navbar-menu': showNavBar
  }">
    <ul class="navbar-menu-ul">
      <li class="navbar-menu-li">Carrito</li>
      <li class="navbar-menu-li">Sobre nosotros</li>
      <li class="navbar-menu-li">Contacto</li>
      <li
      class="navbar-menu-li"
      [ngClass]="{
        'active': activeProduct
      }"
      routerLink="products"
      >Productos</li>

    </ul>
  </div>
</nav>
