.container-about-features{
  position: relative;
  top: 69px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: var(--color-white);
}

.container-about-features .box-text{
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container-about-features .box-text .box-text-title{
  font-family: var(--font-ClashDisplay-regular);
  margin: 20px 0px;
}

.container-about-features .box-text .box-text-description{
  font-family: var(--font-ClashDisplay-regular);
}
.container-about-features .box-text .box-text-btn{
  font-family: var(--font-ClashDisplay-regular);
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  margin-top: 60px;
  width: 80%;
  height: 60px;
  background-color: var(--color-grey-dark);
  align-self: center;
}
.container-about-features .box-text .box-text-btn:hover{
  text-decoration: underline;
}
.container-about-features .box-image{
  width: 100%;
  height: 340px;
  background-image: url("https://images.unsplash.com/photo-1523755231516-e43fd2e8dca5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container-about-features .box-image_two{
  width: 100%;
  height: 340px;
  background-image: url("https://plus.unsplash.com/premium_photo-1682582243325-d17d2b9383a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1391&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
@media only screen and (min-width: 700px) {
  .container-about-features .box-image{
    background-position-y: -380px;
  }
}
@media only screen and (min-width: 800px) {
  .container-about-features{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-about-features .box-text{
    width: 50%;
  }
  .container-about-features .box-image{
    width: 50%;
    background-position: center;
  }
  .container-about-features .box-image_two{
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  .container-about-features .box-image{
    background-size: contain;
  }
  .container-about-features .box-image_two{
    background-size: contain;
  }
}


