<div class="container-about-features">
  <div class="box-text">
    <h3 class="box-text-title">Desde un estudio en Costa Rica hasta una marca global con más de 400 puntos de venta.</h3>
    <p class="box-text-description">Nuestro negocio de muebles se destaca por su excepcional calidad y diseño único. Priorizamos la sostenibilidad en nuestros productos y procesos, brindando opciones ecoamigables. Además, ofrecemos una amplia variedad de estilos para satisfacer todos los gustos. Nuestra dedicación a la satisfacción del cliente es lo que nos diferencia verdaderamente en el mercado.</p>
  </div>
  <div class="box-image">
    <img src="" alt="">
  </div>
  <div class="box-image_two">
  </div>
  <div class="box-text">
    <h3 class="box-text-title">Nuestro servicio no es sólo personal, en realidad es hiperpersonal</h3>
    <p class="box-text-description">La idea es simple. Hacer que los muebles de alta calidad sean asequibles y estén disponibles para el mercado masivo. <br><br>Muebles y artículos para el hogar hechos a mano y con mucho cariño es lo que vivimos, respiramos y diseñamos.</p>
  </div>
</div>
