<div class="container-about-features">
  <div class="box-text">
    <h3 class="box-text-title">From a studio in London to a global brand with over 400 outlets</h3>
    <p class="box-text-description">When we started Avion, the idea was simple. Make high quality furniture affordable and available for the mass market. <br><br>Handmade, and lovingly crafted furniture and homeware is what we live, breathe and design so our Chelsea boutique become the hotbed for the London interior design community.</p>
    <button class="box-text-btn">Get in touch</button>
  </div>
  <div class="box-image">
    <img src="" alt="">
  </div>
  <div class="box-image_two">
  </div>
  <div class="box-text">
    <h3 class="box-text-title">Our service isn’t just personal, it’s actually hyper personally exquisite</h3>
    <p class="box-text-description">When we started Avion, the idea was simple. Make high quality furniture affordable and available for the mass market. <br><br>Handmade, and lovingly crafted furniture and homeware is what we live, breathe and design so our Chelsea boutique become the hotbed for the London interior design community.</p>
    <button class="box-text-btn">Get in touch</button>
  </div>
</div>
