<footer class="footer-container">
  <div class="footer-container-lists">
    <ul class="list menu-list">
      <span class="list-head">Menu</span>
      <li>Todos los productos</li>
      <li>Popular esta semana</li>
      <li>Visto recientemente</li>
      <li>Nuevas llegadas</li>
    </ul>
    <ul class="list company-list">
      <span class="list-head">Sobre la compañia</span>
      <li>Sobre nosotros</li>
      <li>Contacta con nosotros</li>
      <li>Privacidad</li>
      <li>Nuestras politicas</li>
    </ul>
    <ul class="list categories-list">
      <span class="list-head">Categorias</span>
      <li>Comedores</li>
      <li>Sillas</li>
      <li>Puertas</li>
      <li>Macetas</li>
    </ul>
  </div>
  <span class="copyright">Copyright 2023 | Hecho desde LATAM💜</span>
</footer>
