<div class="container-hero">
  <div class="container-hero_sections">
    <section class="hero_sections_info">
      <h2 class="sections_info-title">La marca de muebles del futuro, con diseños inigualables.</h2>
      <p class="sections_info-description">Una nueva era en muebles ecológicos, fuentes bonitas, colores elegantes y una hermosa manera de mostrar cosas digitalmente utilizando tecnologías web modernas.</p>
      <button class="sections_info-btn">Ver Colección</button>
    </section>
    <section class="hero_sections_container-img">
      <img class="sections_container-img_img" src="https://images.unsplash.com/photo-1592078615290-033ee584e267?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1364&q=80" alt="" width="100">
    </section>
  </div>
</div>
