<div class="container-products-list" *ngIf="cards.length > 0; else esto">
  <div *ngFor="let card of cards" class="card-product "
    [ngClass]="{
      'view': card.category === 'sofa'
    }"
  >
    <img class="card-img" [src]="card.url" alt="" [routerLink]="['/products/all-products/', card.id]">
    <span class="card-title">{{card.name }}</span>
    <span class="card-title">${{card.price}}</span>
  </div>
</div>
<ng-template #esto>
  <div class="container-empty">
    <h4>No existen coincidencias para mostrar según los criterios de búsqueda.</h4>
  </div>
</ng-template>
