<div class="container-description">
  <h3 class="container-description_title">¿Qué hace que nuestra marca sea diferente?</h3>
  <div class="container-description_cards">
    <div class="container-description_card">
      <span class="card-icon">⚡</span>
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
    <div class="container-description_card">
      <span class="card-icon">⚡</span>
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
    <div class="container-description_card">
      <span class="card-icon">⚡</span>
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
    <div class="container-description_card">
      <span class="card-icon">⚡</span>
      <h4 class="card-title">Al día siguiente como estándar</h4>
      <p class="card-description">Haga su pedido antes de las 3 p.m. y reciba su pedido al día siguiente como estándar</p>
    </div>
  </div>
</div>
