/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css";
:root {
  /* fonts */
  --font-ClashDisplay-extralight: 'ClashDisplay-Extralight';
  --font-ClashDisplay-lighy: 'ClashDisplay-Light';
  --font-ClashDisplay-regular: 'ClashDisplay-Regular';
  --font-ClashDisplay-medium: 'ClashDisplay-Medium';
  --font-ClashDisplay-semiBold: 'ClashDisplay-Semibold';
  --font-ClashDisplay-bold: 'ClashDisplay-Bold';
  /* colors */
  --color-dark-primary: #2A254B;
  --color-primary: #4E4D93;
  --color-primary-hover: #3d3b93;
  --color-light-grey: #F9F9F9;
  --color-white: #FFFFFF;
  --color-border-grey: #EBE8F4;
  --color-border-dark: #CAC6DA;
  --color-text-dark: #19121a;
  --color-text-light: #726E8D;
  --color-transparent: #ffffff00;
  --color-grey-dark: #c1c1c19e;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
  color: var(--color-text-dark);
}

ul {
  list-style: none;
}

li {
  color: var(--color-text-light);
}

body {
  background-color: #232424;
  overflow-x: hidden;
}

