.container-page-products{
  margin-top: 70px;
  display: grid;
  grid-template-rows: 96px 652px;
  grid-template-columns:  1fr;
}
.product-sidebar{
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: var(--color-white);
  position: relative;
  z-index: 10;
}
.product-list{
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  position: relative;
  z-index: 1;
}
/* //////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
@media only screen and (min-width: 800px) {
  .container-page-products{
    grid-template-rows: 100vh;
    grid-template-columns:  200px calc(100vw - 200px);
  }
  .product-sidebar{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .product-list{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}
